.toolbar {
  min-height: 128px;
  align-items: flex-start;
  padding-top: 20x;
  padding-bottom: 40px;
  background-color: #d8d8d8;
  color: #3a3a3a;
  font-family: Roboto;
}

.logo {
  margin-top: 20px;
}

.title {
  flex-grow: 1;
  align-self: flex-end;
}

.hidden {
  display: none;
}
