body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/***Rimble UI: MetaMask button***/
.metamaskButton {
  background-color: #aa4994 !important;
}

/*** Material UI Form button style ***/
.MuiButton-containedPrimary {
  color: #fff;
  background-color: #aa4994 !important;
}

/***Form date field***/
/***Equivalent to:
input#txtIssueDate.MuiInputBase-input.MuiOutlinedInput-input {
  cursor: text;
}**/
input[type="date" i] {
  cursor: text;
}

/***Form field disabled***/
.MuiInputBase-root.Mui-disabled {
  cursor: not-allowed !important;
}

/***Loader: Create animation when operations are executing.***/
.loaderStyle {
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  display: block;
  height: 1000px;
  text-align: center;
  z-index: 999999999999999;
}

/***Material UI Fab button***/
.MuiFab-primary {
  color: #fff;
  background-color: #aa4994 !important;
}

/***Material UI search icon: InvoiceSearchBar > TextField > SearchIcon***/
.MuiSvgIcon-root:hover {
  cursor: pointer;
}
