body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*** Material UI Form button style ***/
.MuiButton-containedPrimary {
  color: #fff;
  background-color: #aa4994 !important;
}

/***Form date field***/
/***Equivalent to:
input#txtIssueDate.MuiInputBase-input.MuiOutlinedInput-input {
  cursor: pointer !important;
}**/
input[type="date" i]:hover {
  cursor: pointer !important;
}

/***Form field disabled***/
.MuiInputBase-root.Mui-disabled {
  cursor: not-allowed !important;
}
